#box {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 5em;
    background-color: red;
    animation: move 6s infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(100px, 0);
        background-color: aqua;
    }

    50% {
        transform: translate(100px, 100px);
        background-color: chartreuse;
    }

    75% {
        transform: translate(0, 100px);
        background-color: blue;
    }

    100% {
        transform: translate(0, 0);
        background-color: red;
    }
}

gsq-xfut-bxd