* {
    margin: 0;
    padding: 0;
}
.container {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar {
    display: flex;
    width: 100%;
    height: 15vh;
    margin: auto;
    align-items: center;
}
.logo {
    width: 150px;
    cursor: pointer;
}
.cart {
    width: 50px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px ;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a {
    
    color: #333;
    text-decoration: none;
}
.content h1  {
font-size: 60px;
font-weight: 100;
margin: 50px, 0, 10px, 0;
color: blue;
}

.content p {
    font-size: 20px;
    color: rgb(0, 183, 255);
}
.content {
    margin-top: 10px;
    margin-left: 10px;
}
.content .button {
display: inline-block;
background: rgb(215, 18, 232);
    background: linear-gradient(45deg, rgba(215, 18, 232, 1) 20%, rgba(36, 154, 179, 1) 93%);;
border-radius: 6px;
padding: 10px, 20px;
box-sizing: border-box;
text-decoration: none;
color: azure;
}
.arrow_icons {
    margin-top: 40px;
    display: flex;

}
.arrow_icons img {
    width: 40px;
    margin-right: 20px;

}
.girl_img {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social_links {
    position: left;
    display: flex;
    display: row;
    left: -80px;
    bottom: 180px;
    padding-right: 20px;

}