* {
    margin: 0;
    padding: 0;
}
.container {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar {
    display: flex;
    width: 100%;
    height: 15vh;
    margin: auto;
    align-items: center;
}
.logo {
    width: 150px;
    cursor: pointer;
}
.cart {
    width: 50px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px ;
    width: 60%;
}
nav ul li {
    color: blue;
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
   
}
a {
    text-decoration: none;
}
.content h1  {
font-size: 50px;
font-weight: 100;
margin: 50px, 0, 10px, 0;
color: blue;
}

.content p {
    font-size: 20px;
    color: rgb(0, 183, 255);
}
.content {
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 80%;
    display: inline-flex;
  
}
.left {
    flex-direction: column;
    width: 80%;
    height: 80%;
}
.content .button {
display: inline-block;
background: rgb(215, 18, 232);
    background: linear-gradient(45deg, rgba(215, 18, 232, 1) 20%, rgba(36, 154, 179, 1) 93%);;
border-radius: 6px;
padding: 0.5%;

text-decoration: none;
color: azure;
width: 25%;
height: 8%;
align-items: center;
}
.arrow_icons {
    margin-top: 40px;
    display: flex;

}
.arrow_icons img {
    width: 40px;
    margin-right: 20px;

}
.girl_img {
    height: 90%;
   align-self: flex-end;

    bottom: 0;
    right: 160px;

}
.social_links {
    position: left;
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
    left: -80px;
    bottom: 180px;
    padding-right: 20px;
    height: 70%;
    width: 15%;

}
.social_links img {
    margin-bottom: 5%;
    width: 20%;
    height: 15%;
}